// Body

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Manrope', sans-serif;
$font-size-base: .9rem;
$font-weight-base: 400;
$line-height-base: 1.6;

